section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  background-color: burlywood;
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .board {
    max-width: 100vw;
    height: 600px;
  }
}

.bird {
  position: relative;
  background-color: crimson;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.obstacles{
    position: relative;
    top: 600px;
    background-color:blue;
    height: 10rem;
    width: 2rem; 
}
